<!DOCTYPE html>
<html>
  <head>
    <title>UdeSA Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>UdeSA Movies</h1>
    <!-- COMPLETAR CON DATOS DE LA PELICULA SELECCIONADA QUE VIENE POR EL CONTROLLER -->
    <p>Datos de la película  </p>
    <a href="/">Home</a>
    
    <p>Rating:  </p>
    <p>Duración:> </p>

    
    <button> Modificar </button>
    
  </body>
</html>
